{
	"data": "ENC[AES256_GCM,data:JoN7auL2p5gkrnXOhibXZIQalDs/iQZ6tV6e/fmXgOwnCCOiFo9Rbc0ScI8e1gNf3NJTKF1uJB3SPvX2LL0VV2YRy/VhJEUCdGjUkZpGbAbJDqEQq+0ThVEB96Od5GN6NLEBN8RSaXMKvQK7i8+VXrsRzkE0RBawZchRRvHc0482u8RRf9OHcbe2Y+7qApYj1RxHtJCtWf/2LsT4rfn/qbs2VBiqnFFETvU1RbymSSbvysBcNHhiJzSySyA9fbFypg2z+p9dLdTOlhiBnQHp6flMsY1EiTQxcBfyn9yqIZ0GgpbqYDmdtuVEYGt1VDo6oK6VTTl88WFSd4obFh5dZZEUZxW/Sj7q5rjJyQEBSvm2DLlUNoEmJYlcIe0i63uoei/YTBdD+w40sYZnfq5ehmn/zevbraGyNjIleiK5D/uBsJewC2x58pZhvoiL2uI+EeJo2f9LeJsYdqGawQzm7/3MN0ZoWZ1W3TzkQ9DRG3VztEzhGtzr766xmFrqnBOScQUsxJKkObov2nY/EG4VPLAhxiFrD2U0AWBeXWlJvQdYyEhGPM8Vi6OmG3FF/q569dAg3sgNO84CyNjxW2MBt78en58Ewfr90MxQ3H0xV8Dkym8TKKHjfWzCW6vGTFkFcgQPf2T4xkV0dSJrIse4Whfb/OWzexHDfqP+n5bsOgEQ5DPrNMe3Ly9YnGTstcaxe+V85sHS5QRy+S4HJ9ZbqV1P8NzHhfalqMb0gA==,iv:AxdkTRueVPJ2eVsK/45fo15+7BsPwbCnU6sfRVqLGns=,tag:kbksHT60exOlURgfUXB5sA==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBwL0JlYU9tSGtpR0V1RmNk\ndXlPK3VjYTQrN2tXNTBLbVl1RzZ4dE5GWG1BCjJSWU5VeFJhTTdkVGVOY2R1disy\ndHlSQkhDR0ZsMXpib0F0QUI5R3laK2MKLS0tIGZBOS9BMWQ5UzJmS3lEU1c5MjF5\ncmFMYi9nUEZzQjljUUQ0YlRrMW9pT0UKQ4X0/E/G77vUcPIiNzo5Rj1ebm9f22S+\nzdu8RABUlzRfoZCk+8JIYzzztQBdXOw4tQXHTKlQPngLMKmtMxdC6A==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-06-13T19:36:26Z",
		"mac": "ENC[AES256_GCM,data:0JjsoxrspbYckIMIgWHNj9QJttIUx9mEDYAGREay8wadzda/6HZ6auoe/LT+gGZtG0B/rAIuKMI5sPTnRaeL8rZMZnS3g+RKHGX8LsJ2G186bntd7o7fB/TrLjPhW0wyZSYW0SeUXHholeDSdxuvPMIU/tlRpVn2LTuxH1aoPWQ=,iv:0jw/LhluE3/9odwWx3jGTlG9xz4xtoSPFTcEhjkGO64=,tag:P8mmUyohoeXO6nCIbHvxDw==,type:str]",
		"unencrypted_suffix": "_unencrypted",
		"version": "3.10.2"
	}
}
